frontend/node_modules
frontend/dist/*
!frontend/dist/index.html
!frontend/dist/assets/
!frontend/dist/assets/*
frontend/wailsjs
frontend/package.json.md5
build/bin
*.exe
*.db
*.db-shm
*.db-wal
*.log
coverage
releases/
graphify-out/
.DS_Store
